@media (max-width: 3840px) and (max-height: 2160px) {
    .arcade-medium-left{
        width: 60rem;
        left: 14rem;
    }
    .arcade-medium-right{
        width: 60rem;
        right: 14rem;
    }
    .tv-left{
        width: 25rem;
    }
    .tv-right{
        width: 25rem;
    }
}
@media (max-width: 2850px) and (max-height: 1800px) {
}
@media (max-width: 2560px) and (max-height: 1600px) {
}
@media (max-width: 2560px) and (max-height: 1140px) {
}
@media (max-width: 1920px) and (max-height: 945px) {
    /* Countdown Section */
    .rector-title{
        width: 50rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 3.5rem;
        left: 5rem;
    }
    .big-green-star {
        width: 110rem;
        top: -2rem;
        left: 15rem;
    }
    .rector-card{
        width: 50rem;
        left: 350px;
    }
    .rector-card-2{
        width: 50rem;
        top: 4rem;
        right: 3rem;
    }
    .arcade-machine-big {
        width: 44rem;
        top: 6rem;
    }
    .arcade-medium-left{
        width: 35rem;
        left: 13rem;
    }
    .arcade-medium-right{
        width: 35rem;
        right: 13rem;
    }
    .tv-left{
        width: 20rem;

    }
    .tv-right{
        width: 20rem;
    }
    .camera-right{

    }
    .camera-background-right{

    }
    .congrats-left{
        width: 14rem;
        top: 15px;
    }

    /* About Section */
    .bg-about{
        height: 50rem;
    }
    .about-border-top{

    }
    .about-border-bottom{

    }

    /* Trailer Section */
}
@media (max-width: 1920px) and (max-height: 1080px) {
    /* Countdown Section */
    .rector-title{
        width: 50rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 3.5rem;
        left: 5rem;
    }
    .big-green-star {
        width: 110rem;
        top: -2rem;
        left: 15rem;
    }
    .rector-card{
        width: 50rem;
        left: 350px;
        top: 15rem;
    }
    .rector-card-2{
        width: 50rem;
        top: 5rem;
        right: 3rem;
    }
    .arcade-machine-big {
        width: 47rem;
        top: 10rem;
    }
    .arcade-medium-left{
        width: 35rem;
        left: 13rem;
    }
    .arcade-medium-right{
        width: 35rem;
        right: 13rem;
    }
    .tv-left{
        width: 20rem;

    }
    .tv-right{
        width: 20rem;
    }
    .camera-right{

    }
    .camera-background-right{

    }
    .congrats-left{
        width: 14rem;
        top: 15px;
    }

    /* About Section */
    .bg-about{
        height: 50rem;
    }
    .about-border-top{

    }
    .about-border-bottom{

    }

    /* Trailer Section */
}
@media (max-width: 1900px) and (max-height: 1920px) {
}
@media (max-width: 1900px) and (max-height: 1200px) {
}
@media (max-width: 1728px) and (max-height: 1117px) {
    .arcade-medium-left{
        width: 30rem;
        left: 10rem;
    }
    .arcade-medium-right{
        width: 30rem;
        right: 10rem;
    }
    .tv-left{
        width: 250px;
    }
    .tv-right{
        width: 250px;
    }
}
@media (max-width: 1538px) and (max-height: 2048px) {
}
@media (max-width: 1512px) and (max-height: 982px) {
}
@media (max-width: 1366px) and (max-height: 1024px) {
}
@media (max-width: 1366px) and (max-height: 768px) {
}
@media (max-width: 1280px) and (max-height: 800px) {
}
@media (max-width: 1180px) and (max-height: 820px) {
}
@media (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
}
@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
}
@media (max-width: 1024px) and (max-height: 600px) {
}
@media (max-width: 956px) and (max-height: 440px) and (orientation: landscape) {
}
@media (max-width: 932px) and (max-height: 430px) {
}
@media (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
}
@media (max-width: 853px) and (max-height: 1280px) and (orientation: portrait) {
}
@media (max-width: 844px) and (max-height: 390px) {
}
@media (max-width: 820px) and (max-height: 1180px) {
}
@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
}
@media (max-width: 740px) and (max-height: 360px) and (orientation: landscape) {
}
@media (max-width: 720px) and (max-height: 540px) and (orientation: landscape) {
}
@media (max-width: 540px) and (max-height: 720px) and (orientation: portrait) {
}
@media(max-width: 459px) and (max-height: 841px) and (orientation: portrait){
}
@media (max-width: 440px) and (max-height: 956px) and (orientation: portrait) {
}
@media (max-width: 430px) and (max-height: 932px) and (orientation: portrait) {
    .big-green-star {
        top: 40rem;
    }
    .arcade-machine-big {
        width: 11rem;
        top: 44.6rem;
    }
    .arcade-medium-left{
        width: 7rem;
        left: 2.8rem;
        top: 50.7rem;
    }
    .arcade-medium-right{
        width: 7rem;
        right: 3rem;
        top: 50.7rem;
    }
    .tv-left{
        width: 4.5rem;
        top: 50,7rem;
    }
    .tv-right{
        width: 4.5rem;
        top: 53rem;
    }
    .countdown-card {
        width: 180px;
    }
}
@media (max-width: 412px) and (max-height: 914px) and (orientation: portrait){
    
}
@media (max-width: 414px) and (max-height: 896px) and (orientation: portrait){
}
@media (max-width: 393px) and (max-height: 873px) and (orientation: portrait) {
}
@media (max-width: 390px) and (max-height: 844px) and (orientation: portrait) {
}
@media (max-width: 375px) and (max-height: 667px) and (orientation: portrait) {
}
@media (max-width: 360px) and (max-height: 740px) and (orientation: portrait) {
}
@media (max-width: 344px) and (max-height: 882px) and (orientation: portrait) {
}