/* DONE */
@media (max-width: 3840px) and (max-height: 2160px) {
/* Countdown Section */
    .countdown-card{
        width: 35rem;
    }
    .rector-title{
        width: 110rem;
    }
    .big-yellow-star{
        width: 230rem;
        top: 10rem;
        left: 8rem;
        
    }
    .big-green-star {
        width: 220rem;
        top: 0rem;
        left: 24rem;
        
    }
    /* Depan Bawah */
    .rector-card{
        width: 80rem;
        top: 40rem;
        left: 55rem;
        
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 90rem;
        top: 17rem;
        left: 67rem;
        
    }
    .arcade-machine-big {
        width: 90rem;
        top: 25rem;
        
    }
    .arcade-medium-left{
        width: 65rem;
        left: 19rem;
        top: 66rem;
        
    }
    .arcade-medium-right{
        width: 65rem;
        right: 19rem;
        top: 66rem;
        
    }
    .tv-left{
        width: 35rem;
        
    }
    .tv-right{
        width: 35rem;
        
    }
    .camera-right{
        width: 30rem;
        top: 3rem;
        
    }
    .camera-background-right{
        width: 26rem;
        top: 5rem;
        
    }
    .congrats-left{
        width: 20rem;
        top: 30rem;
        
    }

    /* Trailer Section */
    
    .pixelmon-right{
        width: 45rem;
        left: 185rem;
    }
    .ghost-pink-left{
        width: 35rem;
        right: 190rem;
        top: 8rem;
    }
}

/* DONE */
@media (max-width: 2850px) and (max-height: 1800px) {
    /* Countdown Section */
    .countdown-card{
        width: 30rem;
    }
    .rector-title{
        width: 100rem;
    }
    .big-yellow-star{
        width: 130rem;
        top: 23.5rem;
        left: 34rem;
    }
    .big-green-star {
        width: 130rem;
        top: 19rem;
        left: 34rem;
    }
    /* Depan Bawah */
    .rector-card{
        width: 60rem;
        left: 38rem;
        top: 50rem;
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 60rem;
        left: 50rem;
        top: 30rem;
    }
    .arcade-machine-big {
        width: 70rem;
        top: 37.5rem;
        height: 75rem;
    }
    .arcade-medium-left{
        width: 50rem;
        left: 15rem;
        top: 60rem;
    }
    .arcade-medium-right{
        width: 50rem;
        right: 15rem;
        top: 60rem;
    }
    .tv-left{
        width: 25.5rem;
    }
    .tv-right{
        width: 25.5rem;   
    }
    .camera-right{
        width: 27rem;
        top: 4rem;
        right: 1rem;
    }
    .camera-background-right{
        width: 23rem;
        right: 0rem;
    }
    .congrats-left{
        width: 20rem;
        top: 15rem;
    }

    /* Trailer Section */
    .pixelmon-right{
        width: 30rem;
        left: 140rem;
        bottom: 3rem;
    }
    .ghost-pink-left{
        width: 25rem;
        right: 140rem;
        top: 5rem;
    }
}
/* DONE */
@media (max-width: 2560px) and (max-height: 1600px) {
    /* Countdown Section */
    .countdown-card{
        width: 30rem;
    }
    .rector-title{
        width: 80rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 28.5rem;
        left: 27rem;
        
    }
    .big-green-star {
        width: 120rem;
        top: 20rem;
        left: 27rem;
        
    }
    /* Depan Bawah */
    .rector-card{
        width: 50rem;
        left: 30rem;
        top: 50rem;
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 50rem;
        left: 42rem;
        top: 34rem;
    }
    .arcade-machine-big {
        width: 60rem;
        top: 39.5rem;
        height: 60rem;
    }
    .arcade-medium-left{
        width: 45rem;
        left: 15rem;
        top: 55rem;
    }
    .arcade-medium-right{
        width: 45rem;
        right: 15rem;
        top: 55rem;
    }
    .tv-left{
        width: 23.5rem;
    }
    .tv-right{
        width: 23.5rem;   
    }
    .camera-right{
        width: 22rem;
        top: 4rem;
        right: 1rem;
    }
    .camera-background-right{
        width: 20rem;
        right: 0rem;
    }
    .congrats-left{
        width: 20rem;
        top: 15rem;
    }


    /* Trailer Section */
    .pixelmon-right{
        width: 25rem;
        left: 120rem;
        bottom: 3rem;
    }
    .ghost-pink-left{
        width: 20rem;
        right: 130rem;
        top: 5rem;
    }
}
/* DONE */
@media (max-width: 2560px) and (max-height: 1140px) {
    /* Countdown Section */
    .countdown-card{
        width: 20rem;
    }
    .rector-title{
        width: 60rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 4.5rem;
        left: 27rem;
        
    }
    .big-green-star {
        width: 120rem;
        top: 2rem;
        left: 27rem;
        
    }
    /* Depan Bawah */
    .rector-card{
        width: 50rem;
        left: 50rem;
        top: 8rem;
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 50rem;
        left: 42rem;
        top: 30rem;
    }
    .arcade-machine-big {
        width: 54rem;
        top: 14rem;
        height: 57rem;
    }
    .arcade-medium-left{
        width: 45rem;
        left: 16rem;
        top: 26rem;
    }
    .arcade-medium-right{
        width: 45rem;
        right: 16rem;
        top: 26rem;
    }
    .tv-left{
        width: 24.5rem;
    }
    .tv-right{
        width: 24.5rem;   
    }
    .camera-right{
        width: 23rem;
        top: 2rem;
        right: 1rem;
        
    }
    .camera-background-right{
        width: 20rem;
        right: 0rem;
        
    }
    .congrats-left{
        width: 18rem;
        top: 11rem;
        
    }

    /* Trailer Section */
    .pixelmon-right{
        width: 25rem;
        left: 120rem;
        bottom: 3rem;
    }
    .ghost-pink-left{
        width: 20rem;
        right: 130rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 1920px) and (max-height: 1080px) {
    /* Countdown Section */
    .countdown-card{
        width: 20rem;
    }
    .rector-title{
        width: 50rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 3.5rem;
        left: 0rem;
        
    }
    .big-green-star {
        width: 110rem;
        top: -2rem;
        left: 10rem;
        
    }
    /* Depan Bawah */
    .rector-card{
        width: 50rem;
        left: 380px;
        top: 15rem;
        
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 50rem;
        left: 32rem;
        top: 4.5rem;
        
    }
    .arcade-machine-big {
        width: 50rem;
        top: 7.5rem;
        height: 60rem;
        
    }
    .arcade-medium-left{
        width: 33rem;
        left: 10rem;
        top: 32rem;
        
    }
    .arcade-medium-right{
        width: 33rem;
        right: 10rem;
        top: 32rem;
        
    }
    .tv-left{
        width: 18.5rem;
        

    }
    .tv-right{
        width: 18.5rem;
        
    }
    .camera-right{
        width: 15rem;
        top: 2rem;
        
    }
    .camera-background-right{
        width: 12rem;
        right: 0rem;
        
    }
    .congrats-left{
        width: 12rem;
        top: 12rem;
        
    }

    /* Trailer Section */
    .pixelmon-right{
        width: 20rem;
        left: 85rem;
    }
    .ghost-pink-left{
        width: 15rem;
        right: 85rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 1920px) and (max-height: 945px) {
    /* Countdown Section */
    .countdown-card{
        width: 15rem;
    }
    .rector-title{
        width: 50rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 3.5rem;
        left: 5rem;
        
    }
    .big-green-star {
        width: 110rem;
        top: -2rem;
        left: 13rem;
        
    }
    /* Depan Bawah */
    .rector-card{
        width: 50rem;
        left: 350px;
        
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 50rem;
        top: 4rem;
        right: 3rem;
        
    }
    .arcade-machine-big {
        width: 44rem;
        top: 6rem;
        
    }
    .arcade-medium-left{
        width: 35rem;
        left: 10rem;
        top: 22rem;
        
    }
    .arcade-medium-right{
        width: 35rem;
        right: 10rem;
        top: 22rem;
        
    }
    .tv-left{
        width: 20rem;
        
    }
    .tv-right{
        width: 20rem;
        
    }
    .camera-right{
        width: 14rem;
        top: 1rem;
        right: 0.5rem;
        
    }
    .camera-background-right{
        width: 12rem;
        right: 0rem;
        top: 2rem;
        
    }
    .congrats-left{
        width: 12rem;
        top: 12rem;
        
    }

    /* Trailer Section */
    .pixelmon-right{
        width: 20rem;
        left: 85rem;
    }
    .ghost-pink-left{
        width: 15rem;
        right: 85rem;
        top: 5rem;
    }
}

@media (max-width: 1900px) and (max-height: 1920px) {
    /* Countdown Section */
    .countdown-card{
        width: 1rem;
    }
    .rector-title{
        width: 50rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 50.5rem;
        left: 5rem;
    }
    .big-green-star {
        width: 110rem;
        top: 45rem;
        left: 13rem;
    }
    /* Depan Bawah */
    .rector-card{
        width: 50rem;
        left: 350px;
        top: 80rem;
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 50rem;
        top: 59rem;
        left: 32rem;
    }
    .arcade-machine-big {
        width: 20rem;
        top: 65rem;
    }
    .arcade-medium-left{
        width: 10rem;
        left: 10rem;
        top: 82rem;
    }
    .arcade-medium-right{
        width: 5rem;
        right: 10rem;
        top: 82rem;
    }
    .tv-left{
        width: 20rem;
    }
    .tv-right{
        width: 20rem;
    }
    .camera-right{
        width: 20rem;
        top: 4rem;
        right: 1rem;
    }
    .camera-background-right{
        width: 22rem;
        right: 0rem;
        top: 2rem;
    }
    .congrats-left{
        width: 18rem;
        top: 25rem;
    }

    /* About Section */

    /* Trailer Section */
    .pixelmon-right{
        width: 25rem;
        left: 85rem;
        bottom: 10rem;
    }
    .ghost-pink-left{
        width: 20rem;
        right: 90rem;
        top: 10rem;
    }
}

/* DONE */
@media (max-width: 1900px) and (max-height: 1200px) {
    /* Countdown Section */
    .countdown-card{
        width: 20rem;
    }
    .rector-title{
        width: 60rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 4.5rem;
        left: 5rem;
        
    }
    .big-green-star {
        width: 110rem;
        top: -4rem;
        left: 12rem;
        
    }
    /* Depan Bawah */
    .rector-card{
        width: 50rem;
        left: 280px;
        top: 20rem;
        
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 50rem;
        left: 25rem;
        top: 9rem;
        
    }
    .arcade-machine-big {
        width: 52rem;
        top: 14.5rem;
        height: 60rem;
        
    }
    .arcade-medium-left{
        width: 35rem;
        left: 4rem;
        top: 39.5rem;
        
    }
    .arcade-medium-right{
        width: 35rem;
        right: 4rem;
        top: 39.5rem;
        
    }
    .tv-left{
        width: 14rem;
        top: 58rem;
        left: -1.5rem;
        
    }
    .tv-right{
        width: 14rem;
        top: 58rem;
        right: -1.5rem;
        
    }
    .camera-right{
        width: 18rem;
        top: 2rem;
        
    }
    .camera-background-right{
        width: 18rem;
        
    }
    .congrats-left{
        width: 15rem;
        top: 14rem;
        
    }

    /* About Section */

    .pixelmon-right{
        width: 20rem;
        left: 90rem;
        bottom: 4rem;
    }
    .ghost-pink-left{
        width: 15rem;
        right: 90rem;
        top: 8rem;
    }
}

/* DONE */
@media (max-width: 1728px) and (max-height: 1117px) {
    /* Countdown Section */
    .countdown-card{
        width: 16rem;
    }
    .rector-title{
        width: 50rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 3.5rem;
        left: 5rem;
        
    }
    .big-green-star {
        width: 110rem;
        top: -2rem;
        left: 7rem;
        
    }
    /* Depan Bawah */
    .rector-card{
        width: 50rem;
        left: 280px;
        top: 15rem;
        
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 50rem;
        left: 25rem;
        top: 5rem;
        
    }
    .arcade-machine-big {
        width: 52rem;
        top: 9.5rem;
        height: 60rem;
        
    }
    .arcade-medium-left{
        width: 30rem;
        left: 4rem;
        top: 30.5rem;
        
    }
    .arcade-medium-right{
        width: 30rem;
        right: 4rem;
        top: 30.5rem;
        
    }
    .tv-left{
        width: 14rem;
        top: 46rem;
        left: -1.5rem;
        
    }
    .tv-right{
        width: 14rem;
        top: 46rem;
        right: -1.5rem;
        
    }
    .camera-right{
        top: 0;
        width: 15rem;
        
    }
    .camera-background-right{
        width: 13rem;
        top: 0rem;
        
    }
    .congrats-left{
        width: 12rem;
        top: 14rem;
        
    }

    .pixelmon-right{
        width: 20rem;
        left: 80rem;
        bottom: 4rem;
    }
    .ghost-pink-left{
        width: 15rem;
        right: 80rem;
        top: 5rem;
    }
}
/* DONE */
@media (max-width: 1538px) and (max-height: 2048px) {
    /* Countdown Section */
    .countdown-card{
        width: 22rem;
    }
    .rector-title{
        width: 70rem;
        padding-bottom: 10rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 58.5rem;
        left: 5rem;
        
    }
    .big-green-star {
        width: 110rem;
        top: 52rem;
        left: 10rem;
        
    }
    /* Depan Bawah */
    .rector-card{
        width: 50rem;
        left: 280px;
        top: 85rem;
        
    }
    /* Belakang Atas*/
    .rector-card-2{
        width: 50rem;
        left: 19rem;
        top: 60.5rem;
        
    }
    .arcade-machine-big {
        width: 52rem;
        top: 67.5rem;
        height: 60rem;
        
    }
    .arcade-medium-left{
        width: 30rem;
        left: 4rem;
        top: 96.5rem;
        
    }
    .arcade-medium-right{
        width: 30rem;
        right: 4rem;
        top: 96.5rem;
        
    }
    .tv-left{
        width: 14rem;
        top: 111rem;
        left: -1.5rem;
        
    }
    .tv-right{
        width: 14rem;
        top: 111rem;
        right: -1.5rem;
        
    }
    .camera-right{
        width: 20rem;
        top: 5rem;
        right: 1rem;
        
    }
    .camera-background-right{
        width: 18rem;
        
    }
    .congrats-left{
        width: 15rem;
        top: 42rem;
        
    }

    .pixelmon-right{
        width: 20rem;
        left: 75rem;
        bottom: 4rem;
    }
    .ghost-pink-left{
        width: 15rem;
        right: 80rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 1512px) and (max-height: 982px) {
    /* Countdown Section */
    .countdown-card{
        width: 15rem;
    }
    .rector-title{
        width: 50rem;
        padding-bottom: 2rem;
    }
    .big-yellow-star{
        width: 90rem;
        top: 16rem;
        left: 5rem;
    }
    .big-green-star {
        width: 85rem;
        top: 10rem;
        left: 10rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        top: 30rem;
        left: 15rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 17rem;
        left: 25rem;
    }
    .arcade-machine-big {
        width: 35rem;
        top: 21rem;
        height: 40rem;
        
    }
    .arcade-medium-left{
        width: 28rem;
        left: 10rem;
        top: 32.5rem;
    }
    .arcade-medium-right{
        width: 25rem;
        right: 10rem;
        top: 34.5rem;
    }
    .tv-left{
        width: 15rem;
        top: 43rem;
        left: 0rem;
    }
    .tv-right{
        width: 15rem;
        top: 43rem;
        right: 0rem;
    }
    .camera-right{
        width: 15rem;
        top: 1rem;
        right: 2rem;
    }
    .camera-background-right{
        width: 13rem;
        top: 2rem;
    }
    .congrats-left{
        width: 13rem;
        top: 10rem;
    }

    .pixelmon-right{
        width: 15rem;
        right: 2rem;
        bottom: 3rem;
    }
    .ghost-pink-left{
        width: 12rem;
        left: 5rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 1366px) and (max-height: 1024px) {
    /* Countdown Section */
    .countdown-card{
        width: 15rem;
    }
    .rector-title{
        width: 50rem;
        padding-bottom: 2rem;
    }
    .big-yellow-star{
        width: 90rem;
        top: 13rem;
        left: 5rem;
    }
    .big-green-star {
        width: 85rem;
        top: 9rem;
        left: 8rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        top: 30rem;
        left: 15rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 17rem;
        left: 25rem;
    }
    .arcade-machine-big {
        width: 35rem;
        top: 23rem;
        height: 40rem;
        
    }
    .arcade-medium-left{
        width: 28rem;
        left: 6rem;
        top: 33.5rem;
    }
    .arcade-medium-right{
        width: 28rem;
        right: 6rem;
        top: 33.5rem;
    }
    .tv-left{
        width: 13rem;
        top: 48rem;
        left: 0rem;
    }
    .tv-right{
        width: 13rem;
        top: 48rem;
        right: 0rem;
    }
    .camera-right{
        width: 15rem;
        top: 1rem;
        right: 2rem;
    }
    .camera-background-right{
        width: 13rem;
        top: 2rem;
    }
    .congrats-left{
        width: 13rem;
        top: 10rem;
    }
    .pixelmon-right{
        width: 15rem;
        left: 70rem;
        bottom: 3rem;
    }
    .ghost-pink-left{
        width: 12rem;
        left: 5rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 1366px) and (max-height: 768px) {
    /* Countdown Section */
    .countdown-card{
        width: 14rem;
    }
    .rector-title{
        width: 40rem;
        padding-top: 2rem;
    }
    .big-yellow-star{
        width: 80rem;
        top: 4rem;
        left: 5rem;
    }
    .big-green-star {
        width: 80rem;
        top: 0rem;
        left: 8rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        top: 18rem;
        left: 15rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 5rem;
        left: 22rem;
    }
    .arcade-machine-big {
        width: 35rem;
        top: 10rem;
        height: 37rem;
        
    }
    .arcade-medium-left{
        width: 25rem;
        left: 6rem;
        top: 21.5rem;
    }
    .arcade-medium-right{
        width: 25rem;
        right: 6rem;
        top: 21.5rem;
    }
    .tv-left{
        width: 12rem;
        top: 33rem;
        left: 0rem;
    }
    .tv-right{
        width: 12rem;
        top: 33rem;
        right: 0rem;
    }
    .camera-right{
        width: 15rem;
        top: 1rem;
        right: 1rem;
    }
    .camera-background-right{
        width: 13rem;
        top: 2rem;
    }
    .congrats-left{
        width: 10rem;
        top: 10rem;
    }

    .pixelmon-right{
        width: 15rem;
        left: 70rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 12rem;
        left: 5rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 1280px) and (max-height: 800px) {
    /* Countdown Section */
    .countdown-card{
        width: 12rem;
    }
    .rector-title{
        width: 35rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 5rem;
        left: 5rem;
    }
    .big-green-star {
        width: 110rem;
        top: 0rem;
        left: 6rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        top: 14rem;
        left: 10rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 7rem;
        left: 280px;
    }
    .arcade-machine-big {
        width: 35rem;
        top: 2.5rem;
        height: 40rem;
    }
    .arcade-medium-left{
        width: 20rem;
        left: 6rem;
        top: 22.5rem;
    }
    .arcade-medium-right{
        width: 20rem;
        right: 6rem;
        top: 22.5rem;
    }
    .tv-left{
        width: 12rem;
        top: 35rem;
        left: -.5rem;

    }
    .tv-right{
        width: 12rem;
        top: 35rem;
        right: -1.5rem;
    }
    .camera-right{
        width: 13rem;
        top: 1.5rem;
        left: 66rem;
    }
    .camera-background-right{
        width: 12rem;
        top: 2rem;
    }
    .congrats-left{
        width: 9rem;
        top: 10rem;
    }

    /* About Section */
    /* Trailer Section */
    .pixelmon-right{
        width: 12rem;
        left: 65rem;
        bottom: 1rem;
    }
    .ghost-pink-left{
        width: 10em;
        left: 3rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 1280px) and (max-height:585px) {
    /* Countdown Section */
    .countdown-card{
        width: 12rem;
        padding-bottom: 7rem;
    }
    .rector-title{
        width: 35rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 7rem;
        left: 5rem;
    }
    .big-green-star {
        width: 110rem;
        top: 2rem;
        left: 6rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        top: 18rem;
        left: 10rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 9rem;
        left: 280px;
    }
    .arcade-machine-big {
        width: 35rem;
        top: 6rem;
        height: 40rem;
    }
    .arcade-medium-left{
        width: 20rem;
        left: 6rem;
        top: 28rem;
    }
    .arcade-medium-right{
        width: 20rem;
        right: 6rem;
        top: 28rem;
    }
    .tv-left{
        width: 12rem;
        top: 38rem;
        left: -1.5rem;

    }
    .tv-right{
        width: 12rem;
        top: 38rem;
        right: -1.5rem;
    }
    .camera-right{
        width: 13rem;
        top: 1.5rem;
        left: 66rem;
    }
    .camera-background-right{
        width: 12rem;
        top: 2rem;
    }
    .congrats-left{
        width: 9rem;
        top: 10rem;
    }

    /* About Section */
    /* Trailer Section */
    .pixelmon-right{
        width: 12rem;
        left: 65rem;
        bottom: 1rem;
    }
    .ghost-pink-left{
        width: 10em;
        left: 3rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 1180px) and (max-height: 820px) {
    /* Countdown Section */
    .countdown-card{
        width: 15rem;
    }
    .rector-title{
        width: 40rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 5rem;
        left: 5rem;
    }
    .big-green-star {
        width: 110rem;
        top: 0rem;
        left: 6rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        top: 12rem;
        left: 10rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 7rem;
        left: 280px;
    }
    .arcade-machine-big {
        width: 35rem;
        top: 10rem;
        height: 40rem;
    }
    .arcade-medium-left{
        width: 20rem;
        left: 4rem;
        top: 28.5rem;
    }
    .arcade-medium-right{
        width: 20rem;
        right: 4rem;
        top: 28.5rem;
    }
    .tv-left{
        width: 12rem;
        top: 36rem;
        left: -1.5rem;

    }
    .tv-right{
        width: 12rem;
        top: 36rem;
        right: -1.5rem;
    }
    .camera-right{
        width: 11rem;
        top: 1rem;
        left: 62rem;
    }
    .camera-background-right{
        width: 9rem;
        top: 2rem;
    }
    .congrats-left{
        width: 8rem;
        top: 10rem;
    }

    .pixelmon-right{
        width: 12rem;
        left: 60rem;
        bottom: -2rem;
    }
    .ghost-pink-left{
        width: 10rem;
        right: 60rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    /* Countdown Section */
    .countdown-card{
        width: 13rem;
    }
    .rector-title{
        width: 40rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 40rem;
        left: 5rem;
        
    }
    .big-green-star {
        width: 110rem;
        top: 35rem;
        left: 6rem;
        
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        left: 7rem;
        top: 50rem;
        
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 40rem;
        left: 200px;
        
    }
    .arcade-machine-big {
        width: 35rem;
        top: 44.5rem;
        height: 40rem;
        
    }
    .arcade-medium-left{
        width: 23rem;
        left: 2rem;
        top: 59.5rem;
        
    }
    .arcade-medium-right{
        width: 23rem;
        right: 2rem;
        top: 59.5rem;
        
    }
    .tv-left{
        width: 12rem;
        top: 70rem;
        left: -1.5rem;
        

    }
    .tv-right{
        width: 12rem;
        top: 70rem;
        right: -1.5rem;
        
    }
    .camera-right{
        width: 15rem;
        top: 3rem;
        
    }
    .camera-background-right{
        width: 14rem;
        
    }
    .congrats-left{
        width: 9.5rem;
        top: 29rem;
        
    }

    .pixelmon-right{
        width: 15rem;
        left: 50rem;
        bottom: 10rem;
    }
    .ghost-pink-left{
        width: 13rem;
        right: 52rem;
        top: 15rem;
    }
}

/* DONE */
@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    /* Countdown Section */
    .countdown-card{
        width: 12rem;
    }
    .rector-title{
        width: 35rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 5rem;
        left: 5rem;
        
    }
    .big-green-star {
        width: 110rem;
        top: 3rem;
        left: 10rem;
        
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        left: 5rem;
        top: 15rem;
        
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 4rem;
        left: 10rem;
        
    }
    .arcade-machine-big {
        width: 35rem;
        top: 2.5rem;
        height: 40rem;
        
    }
    .arcade-medium-left{
        width: 23rem;
        left: 2rem;
        top: 19.5rem;
        
    }
    .arcade-medium-right{
        width: 23rem;
        right: 2rem;
        top: 19.5rem;
        
    }
    .tv-left{
        width: 12rem;
        top: 32.5rem;
        left: -1.5rem;
        

    }
    .tv-right{
        width: 12rem;
        top: 32.5rem;
        right: -1.5rem;
        
    }
    .camera-right{
        width: 13rem;
        top: 1.5rem;
        left: 50rem;
    }
    .camera-background-right{
        width: 12rem;
        
    }
    .congrats-left{
        width: 9.5rem;
        top: 9rem;
        
    }

    .pixelmon-right{
        width: 10rem;
        left: 54rem;
        bottom: -1rem;
    }
    .ghost-pink-left{
        width: 10rem;
        left: 0rem;
        top: 2rem;
    }
}

/* DONE */
@media (max-width: 1024px) and (max-height: 600px) {
    /* Countdown Section */
    .countdown-card{
        width: 10rem;
    }
    .rector-title{
        width: 30rem;
        padding: 0rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 4rem;
        left: 2rem;
        
    }
    .big-green-star {
        width: 110rem;
        top: 3rem;
        left: 7rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        left: 5rem;
        top: 15rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 4rem;
        left: 10rem;
    }
    .arcade-machine-big {
        width: 30rem;
        top: 3rem;
        height: 30rem;
    }
    .arcade-medium-left{
        width: 17rem;
        left: 4rem;
        top: 16.5rem;
    }
    .arcade-medium-right{
        width: 17rem;
        right: 4rem;
        top: 16.5rem;
    }
    .tv-left{
        width: 9rem;
        top: 25.5rem;
        left: -1.5rem;
    }
    .tv-right{
        width: 9rem;
        top: 25.5rem;
        right: -1.5rem;
    }
    .camera-right{
        width: 12rem;
        top: 1.5rem;
        left: 51rem;
    }
    .camera-background-right{
        width: 11rem;
    }
    .congrats-left{
        width: 8rem;
        top: 9rem;
    }

    .pixelmon-right{
        width: 10rem;
        left: 54rem;
        bottom: -1rem;
    }
    .ghost-pink-left{
        width: 10rem;
        left: 0rem;
        top: 2rem;
    }
}

/* DONE */
@media (max-width: 956px) and (max-height: 440px) and (orientation: landscape) {
    /* Countdown Section */
    .countdown-card{
        width: 10rem;
        padding-bottom: 4rem;
    }
    .rector-title{
        width: 35rem;
        padding-top: 5rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 5rem;
        left: 2rem;
    }
    .big-green-star {
        width: 110rem;
        top: 3rem;
        left: 7rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        left: 5rem;
        top: 20rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 6.5rem;
        left: 9rem;
    }
    .arcade-machine-big {
        width: 30rem;
        top: 10rem;
        height: 30rem;
    }
    .arcade-medium-left{
        width: 17rem;
        left: 4rem;
        top: 28.5rem;
    }
    .arcade-medium-right{
        width: 17rem;
        right: 4rem;
        top: 28.5rem;
    }
    .tv-left{
        width: 9rem;
        top: 30.5rem;
        left: -1.5rem;
    }
    .tv-right{
        width: 9rem;
        top: 30.5rem;
        right: -1.5rem;
    }
    .camera-right{
        width: 10rem;
        top: 2rem;
        left: 46rem;
    }
    .camera-background-right{
        width: 10rem;
    }
    .congrats-left{
        width: 8rem;
        top: 9rem;
    }

    .pixelmon-right{
        width: 9rem;
        left: 48rem;
        bottom: 1rem;
    }
    .ghost-pink-left{
        width: 9rem;
        left: 1rem;
        top: 2rem;
    }
}

/* DONE */
@media (max-width: 932px) and (max-height: 430px) {
    /* Countdown Section */
    .countdown-card{
        width: 12rem;
        padding-bottom: 5rem;
    }
    .rector-title{
        width: 35rem;
        padding-top: 5rem;
    }
    .big-yellow-star{
        width: 120rem;
        top: 8rem;
        left: 2rem;
    }
    .big-green-star {
        width: 110rem;
        top: 5rem;
        left: 7rem;
    }

    /*Depan Bawah*/
    .rector-card{
        width: 40rem;
        left: 4rem;
        top: 25rem;
    }

    /* Belakang Atas*/
    .rector-card-2{   
        width: 35rem;
        top: 12.5rem;
        left: 8rem;
    }
    .arcade-machine-big {
        width: 30rem;
        top: 15rem;
        height: 30rem;
    }
    .arcade-medium-left{
        width: 17rem;
        left: 4rem;
        top: 30.5rem;
    }
    .arcade-medium-right{
        width: 17rem;
        right: 4rem;
        top: 30.5rem;
    }
    .tv-left{
        width: 9rem;
        top: 35.5rem;
        left: -1.5rem;
    }
    .tv-right{
        width: 9rem;
        top: 35.5rem;
        right: -1.5rem;
    }
    .camera-right{
        width: 10rem;
        top: 2rem;
        left: 48rem;
    }
    .camera-background-right{
        width: 10rem;
    }
    .congrats-left{
        width: 8rem;
        top: 9rem;
    }

    .pixelmon-right{
        width: 8rem;
        left: 50rem;
        bottom: 1rem;
    }
    .ghost-pink-left{
        width: 8rem;
        left: 2rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
    /* Countdown Section */
    .countdown-card{
        width: 12rem;
    }
    .rector-title{
        width: 45rem; 
    }
    .big-yellow-star{
        width: 120rem;
        top: 44rem;
        left: 3rem;
    }
    .big-green-star {
        width: 130rem;
        top: 42rem;
        left: 4rem;
    }
    /*Depan Bawah*/
    .rector-card{
        width: 30rem;
        left: 7rem;
        top: 54.5rem;
        
    }
    /* Belakang Atas*/
    .rector-card-2{   
        width: 28rem;
        top: 47.5rem;
        left: 200px;
        
    }
    .arcade-machine-big {
        width: 30rem;
        top: 28rem;
        height: 35rem;
        
    }
    .arcade-medium-left{
        width: 17rem;
        left: 2rem;
        top: 48rem;
        
    }
    .arcade-medium-right{
        width: 17rem;
        right: 2rem;
        top: 48rem;
        
    }
    .tv-left{
        width: 9rem;
        top: 75rem;
        left: -1.5rem;
        
    }
    .tv-right{
        width: 9rem;
        top: 75rem;
        right: -1.5rem;
        
    }
    .camera-right{
        width: 15rem;
        top: 3rem;
        
    }
    .camera-background-right{
        width: 15rem;
        
    }
    .congrats-left{
        width: 10rem;
        top: 30rem;
        
    }
    .pixelmon-right{
        width: 15rem;
        left: 43rem;
        bottom: 4rem;
    }
    .ghost-pink-left{
        width: 15rem;
        right: 43rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 853px) and (max-height: 1280px) and (orientation: portrait) {
    /* Countdown Section */
    .countdown-card{
        width: 12rem;
    }
    .rector-title{
        width: 45rem; 
    }
    .big-yellow-star{
        width: 120rem;
        top: 41rem;
        left: 5rem;
        
    }
    .big-green-star {
        width: 130rem;
        top: 39rem;
        left: 6rem;
        
    }
    /*Depan Bawah*/
    .rector-card{
        width: 30rem;
        left: 5rem;
        top: 51.5rem;
        
    }
    /* Belakang Atas*/
    .rector-card-2{   
        width: 28rem;
        top: 41rem;
        left: 10rem;
        
    }
    .arcade-machine-big {
        width: 30rem;
        top: 25.5rem;
        height: 35rem;
        
    }
    .arcade-medium-left{
        width: 17rem;
        left: 2rem;
        top: 44.5rem;
        
    }
    .arcade-medium-right{
        width: 17rem;
        right: 2rem;
        top: 44.5rem;
        
    }
    .tv-left{
        width: 9rem;
        top: 70rem;
        left: -1.5rem;
        
    }
    .tv-right{
        width: 9rem;
        top: 70rem;
        right: -1.5rem;
        
    }
    .camera-right{
        width: 15rem;
        top: 3rem;
        
    }
    .camera-background-right{
        width: 15rem;
        
    }
    .congrats-left{
        width: 10rem;
        top: 30rem;
        
    }

    .pixelmon-right{
        width: 18rem;
        left: 35rem;
        bottom: 4rem;
    }
    .ghost-pink-left{
        width: 15rem;
        right: 38rem;
        top: 6rem;
    }
}

/* DONE */
@media (max-width: 844px) and (max-height: 390px) {
    .rector-title{
        width: 23rem;
        padding-top: 55px;
    }
    .big-yellow-star{
        width: 50rem;
        top: 5rem;
        left: 2rem;
    }
    .big-green-star {
        width:50rem;
        top: 6rem;
        left: 2rem;
    }

    /* Depan Bawah */
    .rector-card{
        width: 20rem;
        left: 10rem;
        top: 15rem;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 20rem;
        top: 8.2rem;
        left: 15rem;
    }
    .arcade-machine-big {
        width: 20rem;
        top: 9.5rem;
        height: 20.5rem;
    }
    .arcade-medium-left{
        width: 15rem;
        left: 5rem;
        top: 17.5rem;
    }
    .arcade-medium-right{
        width: 15rem;
        right: 5rem;
        top: 17.5rem;
    }
    .tv-left{
        width: 8rem;
        top: 21.5rem;
        left: 0rem;
    }
    .tv-right{
        width: 8rem;
        top: 21.5rem;
        right: 0rem;
    }
    .camera-right{
        width: 8rem;
        top: 2rem;
        left: 44rem;
    }
    .camera-background-right{
        width: 9rem;
        top: 1rem;
    }
    .congrats-left{
        width: 6rem;
        top: 8rem;
    }
    .pixelmon-right{
        width: 9rem;
        left: 42rem;
        bottom: -1rem;
    }
    .ghost-pink-left{
        width: 8rem;
        right: 20rem;
        top: 3rem;
    }
}

/* DONE FIX */
@media (max-width: 820px) and (max-height: 1180px) {
    .countdown-card{
        width: 11rem;
    }
    .rector-title{
        width: 40rem;
        padding-bottom: 0rem
    }
    .big-yellow-star{
        width: 50rem;
        top: 42rem;
        left: 1rem;
    }
    .big-green-star {
        width:50rem;
        top: 43rem;
        left: 4rem;
    }

    /* Depan Bawah */
    .rector-card{
        width: 20rem;
        left: 8rem;
        top: 55rem;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 20rem;
        top: 41.5rem;
        left: 12rem;
        height: 30rem;
    }
    .arcade-machine-big {
        width: 20rem;
        top: 27rem;
        height: 25.5rem;
    }
    .arcade-medium-left{
        width: 15rem;
        left: 5rem;
        top: 38rem;
    }
    .arcade-medium-right{
        width: 15rem;
        right: 5rem;
        top: 38rem;
    }
    .tv-left{
        width: 8rem;
        top: 64.5rem;
        left: 0rem;
    }
    .tv-right{
        width: 8rem;
        top: 64.5rem;
        right: 0rem;
    }
    .camera-right{
        width: 12rem;
        top: 3rem;
        left: 38rem;
    }
    .camera-background-right{
        width: 14rem;
        top: 1rem;
    }
    .congrats-left{
        width: 8rem;
        top: 10rem;
    }

    .pixelmon-right{
        width: 13rem;
        left: 38rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 10rem;
        left: 0rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .countdown-card{
        width: 10.5rem;
    }
    .rector-title{
        width: 40rem;
        padding-bottom: 0rem
    }
    .big-yellow-star{
        width: 50rem;
        top: 34rem;
        left: 2rem;
    }
    .big-green-star {
        width:50rem;
        top: 35rem;
        left: 5rem;
    }

    /* Depan Bawah */
    .rector-card{
        width: 20rem;
        left: 8rem;
        top: 45rem;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 20rem;
        top: 37rem;
        left: 12rem;
    }
    .arcade-machine-big {
        width: 20em;
        top: 25.5rem;
        height: 25.5rem;
    }
    .arcade-medium-left{
        width: 15rem;
        left: 3rem;
        top: 37.5rem;
    }
    .arcade-medium-right{
        width: 15rem;
        right: 3rem;
        top: 37.5rem;
    }
    .tv-left{
        width: 8rem;
        top: 54.5rem;
        left: 0rem;
    }
    .tv-right{
        width: 8rem;
        top: 54.5rem;
        right: 0rem;
    }
    .camera-right{
        width: 11rem;
        top: 2.5rem;
        left: 36rem;
    }
    .camera-background-right{
        width: 13rem;
        top: 1rem;
    }
    .congrats-left{
        width: 8rem;
        top: 22rem;
    }
    .pixelmon-right{
        width: 13rem;
        left: 35rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 10rem;
        left: 0rem;
        top: 5rem;
    }
}

/* DONE */
@media (max-width: 740px) and (max-height: 360px) and (orientation: landscape) {
    .countdown-card{
        width: 10rem;
        padding-bottom: 2rem;
    }
    .rector-title{
        width: 30rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 8rem;
        left: 2rem;
    }
    .big-green-star {
        width:50rem;
        top: 7rem;
        left: 4rem;
    }

    /* Depan Bawah */
    .rector-card{
        width: 20rem;
        left: 6rem;
        top: 20rem;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 20rem;
        top: 9rem;
        left: 10rem;
    }
    .arcade-machine-big {
        width: 20em;
        top: 10rem;
        height: 25.5rem;
    }
    .arcade-medium-left{
        width: 15rem;
        left: 3rem;
        top: 24.5rem;
    }
    .arcade-medium-right{
        width: 15rem;
        right: 3rem;
        top: 24.5rem;
    }
    .tv-left{
        width: 7rem;
        top: 28rem;
        left: 0rem;
    }
    .tv-right{
        width: 7rem;
        top: 28rem;
        right: 0rem;
    }
    .camera-right{
        width: 8rem;
        top: 1rem;
        left: 38rem;
    }
    .camera-background-right{
        width: 9rem;
        top: 1rem;
    }
    .congrats-left{
        width: 7rem;
        top: 8rem;
    }

    .pixelmon-right{
        width: 8rem;
        left: 38rem;
        bottom: 0rem;
    }
    .ghost-pink-left{
        width: 7rem;
        left: 0rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 720px) and (max-height: 540px) and (orientation: landscape) {
    .countdown-card{
        width: 9rem;
        padding-bottom: 2rem;
    }
    .rector-title{
        width: 28rem;
        padding-top: 4rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 7rem;
        left: 2rem;
        display: none;
    }
    .big-green-star {
        width:50rem;
        top: 7rem;
        left: 4rem;
        display: none;
    }

    /* Depan Bawah */
    .rector-card{
        width: 20rem;
        left: 6rem;
        top: 20rem;
        display: none;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 20rem;
        top: 9rem;
        left: 10rem;
        display: none;
    }
    .arcade-machine-big {
        width: 20em;
        top: 10rem;
        height: 25.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 15rem;
        left: 3rem;
        top: 24.5rem;
        display: none;
    }
    .arcade-medium-right{
        width: 15rem;
        right: 3rem;
        top: 24.5rem;
        display: none;
    }
    .tv-left{
        width: 7rem;
        top: 28rem;
        left: 0rem;
        display: none;
    }
    .tv-right{
        width: 7rem;
        top: 28rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 8rem;
        top: 2.5rem;
        left: 36.5rem;
    }
    .camera-background-right{
        width: 10rem;
        top: 1rem;
    }
    .congrats-left{
        width: 7rem;
        top: 8rem;
    }
    .pixelmon-right{
        width: 8rem;
        left: 37rem;
        bottom: 0rem;
    }
    .ghost-pink-left{
        width: 7rem;
        left: 0rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 540px) and (max-height: 720px) and (orientation: portrait) {
    .countdown-card{

    }
    .rector-title{
        width: 25rem;
        padding-top: 55px;
    }
    .big-yellow-star{
        width: 50rem;
        top: 50rem;
        left: 2rem;
        display: none;
    }
    .big-green-star {
        width:50rem;
        top: 48rem;
        left: 2rem;
        display: none;
    }

    /* Depan Bawah */
    .rector-card{
        width: 14rem;
        left: 3rem;
        top: 58rem;
        display: none;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 14rem;
        top: 53rem;
        left: 120px;
        display: none;
    }
    .arcade-machine-big {
        width: 14rem;
        top: 49.2rem;
        height: 15.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 10rem;
        left: 2rem;
        top: 58.5rem;
        display: none;
    }
    .arcade-medium-right{
        width: 10rem;
        right: 2rem;
        top: 58.5rem;
        display: none;
    }
    .tv-left{
        width: 5rem;
        top: 63.9rem;
        left: 0rem;
        display: none;

    }
    .tv-right{
        width: 5rem;
        top: 63.9rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 7rem;
        top: 3rem;
        left: 26rem;
    }
    .camera-background-right{
        width: 9rem;
        top: 1rem;
    }
    .congrats-left{
        width: 6rem;
        top: 15rem;
    }
    .pixelmon-right{
        width: 8rem;
        left: 26rem;
        bottom: 0rem;
    }
    .ghost-pink-left{
        width: 7rem;
        right: 20rem;
        top: 3rem;
    }
}
/* DONE */
@media(max-width: 459px) and (max-height: 841px) and (orientation: portrait){
    .rector-title{
        width: 23rem;
        padding-top: 55px;
    }
    .big-yellow-star{
        width: 50rem;
        top: 50rem;
        left: 2rem;
        display: none;
    }
    .big-green-star {
        width:50rem;
        top: 48rem;
        left: 2rem;
        display: none;
    }
    .rector-card{
        width: 10rem;
        left: 100px;
        top: 55rem;
        display: none;
    }
    .rector-card-2{
        width: 10rem;
        top: 51.5rem;
        left: 120px;
        display: none;
    }
    .arcade-machine-big {
        width: 12rem;
        top: 50.5rem;
        height: 15.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 9rem;
        left: 2rem;
        top: 57.5rem;
        display: none;
    }
    .arcade-medium-right{
        width: 9rem;
        right: 2rem;
        top: 57.5rem;
        display: none;
    }
    .tv-left{
        width: 4.5rem;
        top: 62.5rem;
        left: 0rem;
        display: none;

    }
    .tv-right{
        width: 4.5rem;
        top: 62.5rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 8rem;
        top: 2rem;
        right: 0rem;
        
    }
    .camera-background-right{
        width: 9rem;
        top: 1rem;
    }
    .congrats-left{
        width: 6rem;
        top: 15rem;
    }

    .pixelmon-right{
        width: 10rem;
        left: 19rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 8rem;
        right: 20rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 440px) and (max-height: 956px) and (orientation: portrait) {
    .rector-title{
        width: 23rem;
        padding-top: 3rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 51.5rem;
        left: 2rem;
        display: none;
    }
    .big-green-star {
        width:45rem;
        top: 50rem;
        left: 2rem;
        display: none;
    }
    .rector-card{
        width: 10rem;
        left: 100px;
        top: 55rem;
        display: none;
    }
    .rector-card-2{
        width: 10rem;
        top: 52rem;
        left: 120px;
        display: none;
    }
    .arcade-machine-big {
        width: 12rem;
        top: 53rem;
        height: 15.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 8rem;
        left: 2rem;
        top: 59.5rem;
        display: none;
    }
    .arcade-medium-right{
        width: 8rem;
        right: 2rem;
        top: 59.5rem;
        display: none;
    }
    .tv-left{
        width: 4.5rem;
        top: 63rem;
        left: 0rem;
        display: none;

    }
    .tv-right{
        width: 4.5rem;
        top: 63rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 8rem;
        top: 2rem;
        left: 20rem;
    }
    .camera-background-right{
        width: 9rem;
        top: 1rem;
        
    }
    .congrats-left{
        width: 6rem;
        top: 15rem;
        
    }
    .pixelmon-right{
        width: 10rem;
        left: 18rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 8rem;
        right: 20rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 430px) and (max-height: 932px) and (orientation: portrait) {
    .countdown-card{
        width: 8rem;
    }
    .rector-title{
        width: 23rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 41rem;
        left: 2rem;
        display: none;
    }
    .big-green-star {
        width: 42rem;
        top: 40rem;
        left: 2rem;
        display: none;
    }
    .rector-card{
        width: 10rem;
        left: 80px;
        top: 54rem;
        display: none;
    }
    .rector-card-2{
        width: 10rem;
        top: 51.5rem;
        left: 110px;
        display: none;
    }
    .arcade-machine-big {
        width: 12rem;
        top: 42.5rem;
        height: 15.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 8rem;
        left: 2rem;
        top: 51rem;
        display: none;
    }
    .arcade-medium-right{
        width: 8rem;
        right: 2rem;
        top: 51rem;
        display: none;
    }
    .tv-left{
        width: 4.5rem;
        top: 54rem;
        left: 0rem;
        display: none;

    }
    .tv-right{
        width: 4.5rem;
        top: 54rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 8rem;
        top: 2rem;
        
    }
    .camera-background-right{
        width: 9rem;
        top: 1rem;
        
    }
    .congrats-left{
        width: 6rem;
        top: 15rem;
        
    }
    .pixelmon-right{
        width: 10rem;
        left: 17rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 8rem;
        right: 19rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 412px) and (max-height: 914px) and (orientation: portrait){
    .countdown-card{
        width: 8rem;
    }
    .rector-title{
        width: 23rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 39rem;
        left: 2rem;
        display: none;
    }
    .big-green-star {
        width: 42rem;
        top: 38rem;
        left: 2rem;
        display: none;
    }
    .rector-card{
        width: 10rem;
        left: 80px;
        top: 43rem;
        display: none;
    }
    .rector-card-2{
        width: 10rem;
        top: 40rem;
        left: 110px;
        display: none;
    }
    .arcade-machine-big {
        width: 12rem;
        top: 41.5rem;
        height: 15.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 8rem;
        left: 2rem;
        top: 49rem;
        display: none;
    }
    .arcade-medium-right{
        width: 8rem;
        right: 2rem;
        top: 49rem;
        display: none;
    }
    .tv-left{
        width: 4.5rem;
        top: 52rem;
        left: 0rem;
        display: none;

    }
    .tv-right{
        width: 4.5rem;
        top: 52rem;
        right: 0rem;
        display: none;
        
    }
    .camera-right{
        width: 8rem;
        top: 2rem;
        
    }
    .camera-background-right{
        width: 9rem;
        top: 1rem;
        
    }
    .congrats-left{
        width: 6rem;
        top: 17rem;
    }
    .pixelmon-right{
        width: 10rem;
        left: 16rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 8rem;
        right: 18rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 414px) and (max-height: 896px) and (orientation: portrait){
    .countdown-card{
        width: 8rem;
    }
    .rector-title{
        width: 23rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 43.5rem;
        left: 1rem;
        display: none;
    }
    .big-green-star {
        width: 50rem;
        top: 44rem;
        left: 2rem;
        display: none;
    }

    /* Depan Bawah */
    .rector-card{
        width: 13rem;
        left: 4rem;
        top: 53rem;
        display: none;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 13rem;
        top: 45.5rem;
        left: 5rem;
        display: none;
    }
    .arcade-machine-big {
        width: 12rem;
        top: 40.5rem;
        height: 15.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 8rem;
        left: 2rem;
        top: 51rem;
        display: none;
    }
    .arcade-medium-right{
        width: 8rem;
        right: 2rem;
        top: 51rem;
        display: none;
    }
    .tv-left{
        width: 4.5rem;
        top: 57rem;
        left: 0rem;
        display: none;
    }
    .tv-right{
        width: 4.5rem;
        top: 57rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 7rem;
        top: 2.5rem;
        left: 18.5rem;
    }
    .camera-background-right{
        width: 8rem;
        top: 1rem;
    }
    .congrats-left{
        width: 6rem;
        top: 17rem;
    }

    .pixelmon-right{
        width: 8rem;
        left: 18rem;
        bottom: 2.5rem;
    }
    .ghost-pink-left{
        width: 7rem;
        right: 18rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 393px) and (max-height: 873px) and (orientation: portrait) {
    .countdown-card{
        width: 8rem;
    }
    .rector-title{
        width: 23rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 45.5rem;
        left: 1rem;
        display: none;
    }
    .big-green-star {
        width: 42rem;
        top: 46rem;
        left: 1.5rem;
        display: none;
    }

    /* Depan Bawah */
    .rector-card{
        width: 12rem;
        left: 3rem;
        top: 52rem;
        display: none;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 12rem;
        top: 45.5rem;
        left: 5rem;
        display: none;
    }
    .arcade-machine-big {
        width: 12rem;
        top: 40.5rem;
        height: 15.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 8rem;
        left: 2rem;
        top: 51rem;
        display: none;
    }
    .arcade-medium-right{
        width: 8rem;
        right: 2rem;
        top: 51rem;
        display: none;
    }
    .tv-left{
        width: 4.5rem;
        top: 57rem;
        left: 0rem;
        display: none;
    }
    .tv-right{
        width: 4.5rem;
        top: 57rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 7.5rem;
        top: 2rem;
        left: 17rem;
    }
    .camera-background-right{
        width: 9rem;
        top: 1rem;
    }
    .congrats-left{
        width: 6rem;
        top: 17rem;
    }
    .pixelmon-right{
        width: 8rem;
        left: 16.5rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 7rem;
        right: 18rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 390px) and (max-height: 844px) and (orientation: portrait) {
    .countdown-card{
        width: 9rem;
    }
    .rector-title{
        width: 23rem;
        padding-top: 4rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 50.5rem;
        left: 0rem;
        display: none;
    }
    .big-green-star {
        width: 42rem;
        top: 51.5rem;
        left: 1rem;
        display: none;
    }

    /* Depan Bawah */
    .rector-card{
        width: 10rem;
        left: 80px;
        top: 57rem;
        display: none;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 10rem;
        top: 52.5rem;
        left: 100px;
        display: none;
    }
    .arcade-machine-big {
        width: 10rem;
        top: 47.6rem;
        height: 12.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 8rem;
        left: 2rem;
        top: 55.5rem;
        display: none;
    }
    .arcade-medium-right{
        width: 8rem;
        right: 2rem;
        top: 55.5rem;
        display: none;
    }
    .tv-left{
        width: 4.5rem;
        top: 61rem;
        left: 0rem;
        display: none;
    }
    .tv-right{
        width: 4.5rem;
        top: 61rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 8rem;
        top: 2rem;
        left: 16rem;
    }
    .camera-background-right{
        width: 8rem;
        top: 1rem;
    }
    .congrats-left{
        width: 6rem;
        top: 17rem;
    }
    .pixelmon-right{
        width: 8rem;
        left: 16rem;
        bottom: 3.5rem;
    }
    .ghost-pink-left{
        width: 6rem;
        right: 18rem;
        top: 3rem;
    }
}

/* DONE */
@media (max-width: 344px) and (max-height: 882px) and (orientation: portrait) {
    .countdown-card{
        width: 8rem;
    }
    .rector-title{
        width: 20rem;
    }
    .big-yellow-star{
        width: 50rem;
        top: 46.5rem;
        left: 1.5rem;
        display: none;
    }
    .big-green-star {
        width: 42rem;
        top: 47rem;
        left: 1.5rem;
        display: none;
    }

    /* Depan Bawah */
    .rector-card{
        width: 10rem;
        left: 50px;
        top: 53rem;
        display: none;
    }

    /* Belakang Atas */
    .rector-card-2{
        width: 10rem;
        top: 48rem;
        left: 70px;
        display: none;
    }
    .arcade-machine-big {
        width: 10rem;
        top: 42.5rem;
        height: 12.5rem;
        display: none;
    }
    .arcade-medium-left{
        width: 6.5rem;
        left: 2rem;
        top: 52rem;
        display: none;
    }
    .arcade-medium-right{
        width: 6rem;
        right: 2rem;
        top: 52rem;
        display: none;
    }
    .tv-left{
        width: 3.5rem;
        top: 57rem;
        left: 0rem;
        display: none;
    }
    .tv-right{
        width: 3.5rem;
        top: 57rem;
        right: 0rem;
        display: none;
    }
    .camera-right{
        width: 7rem;
        top: 2.5rem;
        left: 14rem;
    }
    .camera-background-right{
        width: 8rem;
        top: 1rem;
    }
    .congrats-left{
        width: 5.5rem;
        top: 16rem;
    }
    .pixelmon-right{
        width: 8rem;
        left: 13rem;
        bottom: 2rem;
    }
    .ghost-pink-left{
        width: 7rem;
        right: 14rem;
        top: 3rem;
    }
}