@media (max-width: 3840px) and (max-height: 2160px) {
}
@media (max-width: 2850px) and (max-height: 1800px) {
}
@media (max-width: 2560px) and (max-height: 1600px) {
}
@media (max-width: 2560px) and (max-height: 1140px) {
}
@media (max-width: 1920px) and (max-height: 1080px) {
}
@media (max-width: 1900px) and (max-height: 1920px) {
}
@media (max-width: 1900px) and (max-height: 1200px) {
}
@media (max-width: 1728px) and (max-height: 1117px) {
}
@media (max-width: 1538px) and (max-height: 2048px) {
}
@media (max-width: 1512px) and (max-height: 982px) {
}
@media (max-width: 1366px) and (max-height: 1024px) {
}
@media (max-width: 1366px) and (max-height: 768px) {
}
@media (max-width: 1280px) and (max-height: 800px) {
}
@media (max-width: 1180px) and (max-height: 820px) {
}
@media (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
}
@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
}
@media (max-width: 1024px) and (max-height: 600px) {
}
@media (max-width: 956px) and (max-height: 440px) and (orientation: landscape) {
}
@media (max-width: 932px) and (max-height: 430px) {
}
@media (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
}
@media (max-width: 853px) and (max-height: 1280px) and (orientation: portrait) {
}
@media (max-width: 844px) and (max-height: 390px) {
}
@media (max-width: 820px) and (max-height: 1180px) {
}
@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
}
@media (max-width: 740px) and (max-height: 360px) and (orientation: landscape) {
}
@media (max-width: 720px) and (max-height: 540px) and (orientation: landscape) {
}
@media (max-width: 540px) and (max-height: 720px) and (orientation: portrait) {
}
@media(max-width: 459px) and (max-height: 841px) and (orientation: portrait){
}
@media (max-width: 440px) and (max-height: 956px) and (orientation: portrait) {
}
@media (max-width: 430px) and (max-height: 932px) and (orientation: portrait) {
}
@media (max-width: 414px) and (max-height: 896px) and (orientation: portrait){
}
@media (max-width: 393px) and (max-height: 873px) and (orientation: portrait) {
}
@media (max-width: 390px) and (max-height: 844px) and (orientation: portrait) {
}
@media (max-width: 375px) and (max-height: 667px) and (orientation: portrait) {
}
@media (max-width: 360px) and (max-height: 740px) and (orientation: portrait) {
}
@media (max-width: 344px) and (max-height: 882px) and (orientation: portrait) {
}